[submodule "lib/stub.sh"]
	path = lib/stub.sh
	url = https://github.com/jimeh/stub.sh
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "dotfiles/.vim/bundle/ultisnips"]
	path = dotfiles/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotfiles/.vim/bundle/ale"]
	path = dotfiles/.vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "dotfiles/.vim/bundle/ctrlp.vim"]
	path = dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/bundle/vim-bufkill"]
	path = dotfiles/.vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
